<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron mb-0">
        <h1 class="display-4">Novo Pedido</h1>
      </div>

      <form action="/pedido/novo" method="POST">
        <div>
          <label for="nomeProduto">Produto</label>
          <input name="nomeProduto" placeholder="nome do produto"/>
          <small>Informe qual o nome do produto.</small>
        </div>
        <div>
          <label for="urlProduto">Url</label>
          <input name="urlProduto" placeholder="url do produto"/>
          <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
        </div>
        <div>
          <label for="urlImagem">Imagem</label>
          <input name="urlImagem" placeholder="url da imagem"/>
          <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
        </div>
        <div>
          <label for="descricao">Descrição</label>
          <textarea name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
        </div>
        <button type="submit">Cadastrar</button>

      </form>

    </div>
  </body>
</html>

